---
# 1Password installation for Fedora
# https://support.1password.com/install-linux/#fedora-or-red-hat-enterprise-linux

- name: Install 1Password
  when: onepassword_state == 'present'
  become: true
  block:
    - name: Import 1Password GPG key
      ansible.builtin.rpm_key:
        key: https://downloads.1password.com/linux/keys/1password.asc
        state: present

    - name: Add 1Password repository
      ansible.builtin.yum_repository:
        name: 1password
        description: 1Password Stable Channel
        baseurl: https://downloads.1password.com/linux/rpm/stable/$basearch
        enabled: true
        gpgcheck: true
        repo_gpgcheck: true
        gpgkey: https://downloads.1password.com/linux/keys/1password.asc

    - name: Install 1Password package
      ansible.builtin.dnf:
        name: 1password
        state: present
